#hero {
  background-image: url("/home/cta1.jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;
  color: white;
}
#cta {
  background-image: url("/home/cta2.jpg");
  background-size: cover;
  background-position: center;
  height: 55vh;
  color: white;
}

#products-hero {
  background-image: url("/products/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;
  color: white;
}
